<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.NauticalDemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sourcey.NauticalDemo.MainActivity"
            android:label=" ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sourcey.NauticalDemo.LoginActivity"
            android:exported="true"
            android:label=" " />
        <activity
            android:name="com.sourcey.NauticalDemo.SignupActivity"
            android:label=" " />
        <activity
            android:name="com.sourcey.NauticalDemo.HomeActivity"
            android:exported="true" />
        <activity android:name="com.sourcey.NauticalDemo.ConnectionsActivity" />
        <activity
            android:name="com.sourcey.NauticalDemo.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.sourcey.NauticalDemo.SetupActivity"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.sourcey.NauticalDemo.GetToKnowActivity"
            android:exported="true" />
        <activity
            android:name="com.sourcey.NauticalDemo.abandedhope.chatting"
            android:label="@string/title_activity_chatting"
            android:theme="@style/AppTheme"
            android:exported="true"/>


        <service
            android:name=".abandedhope.MyService"
            android:enabled="true" />

    </application>

</manifest>